<div class="testimonios">
    <h2>Testimonios</h2>
    <div class="testimonios-container">
      <div class="testimonio">
        <p>Adoptar a mi perro de rescate fue la mejor decisión que he tomado. Es un amor y ha llenado mi hogar de alegría y diversión. No puedo agradecer lo suficiente a la gente del refugio por hacer posible esta adopción.</p>
        <h3>Carla García</h3>
      </div>
      <div class="testimonio">
        <p>Después de perder a mi gato de 14 años, estaba muy triste y no sabía si estaba lista para adoptar otra mascota. Pero después de conocer a mi nueva gata en el refugio, supe que era el momento adecuado. Ahora estoy feliz de tenerla en mi vida.</p>
        <h3>Pablo González</h3>
      </div>
      <div class="testimonio">
        <p>Adopté a mi perro de tres patas hace un año y no podría estar más contento. Es un compañero fiel y siempre me hace sonreír. Me encanta llevarlo a caminar y jugar en el parque, y siempre recibo comentarios sobre lo guapo que es.</p>
        <h3>Isabella Martínez</h3>
      </div>
    </div>
  </div>
  
