<footer>
    <div class="icons">
      <a href="#"><img src="../../assets/img/social_facebook_fb_35.png" alt="facebook"></a>
      <a href="#"><img src="../../assets/img/social_youtube_23 (1).png" alt="youtube"></a>
      <a href="#"><img src="../../assets/img/linkedin_black_logo_icon_147114.png" alt="linkedin"></a>
      <a href="#"><img src="../../assets/img/instagram_black_logo_icon_147122.png" alt="instagram"></a>
    </div>
    <div class="container_"></div>
    <hr>
    <p>&copy; 2023 Dopler desing. Todos los derechos reservados.</p>
    
  </footer>
