<section id="noticias">
    <h2>Noticias</h2>
  
    <div class="noticias-container">
      <div class="noticia">
        <div class="noticia-img">
          <img src="../../assets/img/albergue5.JPG" alt="Imagen de perro">
        </div>
        <div class="noticia-body">
          <h3>La adopción de mascotas en Colombia aumenta durante la pandemia</h3>
          <p>Desde el inicio de la pandemia, el número de adopciones de mascotas en Colombia ha aumentado significativamente. Los refugios de animales reportan un incremento del 50% en las adopciones durante el último año.</p>
        </div>
      </div>
  
      <div class="noticia">
        <div class="noticia-img">
          <img src="../../assets/img/albergue6.JPG" alt="Imagen de gatos">
        </div>
        <div class="noticia-body">
          <h3>Conoce los requisitos para adoptar una mascota en Colombia</h3>
          <p>Adoptar una mascota en Colombia es un proceso sencillo, pero es importante cumplir con ciertos requisitos. En este artículo te contamos todo lo que necesitas saber para adoptar un nuevo amigo peludo.</p>
        </div>
      </div>
  
      <div class="noticia">
        <div class="noticia-img">
          <img src="../../assets/img/albergue7.JPG" alt="Imagen de gatos">
        </div>
        <div class="noticia-body">
          <h3>Campaña de adopción de perros en Bogotá</h3>
          <p>La Alcaldía de Bogotá ha lanzado una campaña de adopción de perros para promover la adopción de mascotas y reducir el número de animales abandonados en la ciudad. La campaña incluye eventos de adopción en diferentes barrios de la ciudad.</p>
        </div>
      </div>
  
    </div>
  </section>
  
  
