#noticias {
    background-color: #f9f9f9;
    padding: 50px;
  }
  
  .noticias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .noticia {
    width: 350px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .noticia:hover {
    transform: translateY(-10px);
  }
  
  .noticia-img {
    overflow: hidden;
  }
  
  .noticia-img img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .noticia-body {
    padding: 20px;
  }
  
  .noticia h3 {
    margin-top: 0;
  }
  
  .noticia p {
    margin-bottom: 0;
  }
  