<section id="apadrinamiento">
    <h2>Apadrina una mascota</h2>
    <div class="plan">
      <img src="../../assets/img/albergue1.JPG" alt="Plan Básico">
      <h3>Plan Básico</h3>
      <p>Apadrina a una mascota por un período de tiempo específico y recibe actualizaciones sobre su bienestar.</p>
      <p>Costo mensual: $50.000 COP</p>
      <button class="btn-apadrinar">Apadrinar ahora</button>
    </div>
    <div class="plan">
      <img src="../../assets/img/albergue2.JPG" alt="Plan Premium">
      <h3>Plan Premium</h3>
      <p>Obtén beneficios adicionales al apadrinar a una mascota, como visitas guiadas al refugio de animales y descuentos en productos para mascotas.</p>
      <p>Costo mensual: $100.000 COP</p>
      <button class="btn-apadrinar">Apadrinar ahora</button>
    </div>
    <div class="plan">
      <img src="../../assets/img/albergue3.JPG" alt="Plan de Adopción">
      <h3>Plan de Adopción</h3>
      <p>Apadrina a una mascota con la intención de adoptarla y recibe una tarifa de adopción reducida y un período de tiempo para decidir si la adoptas definitivamente.</p>
      <p>Costo mensual: $150.000 COP</p>
      <button class="btn-apadrinar">Apadrinar ahora</button>
    </div>
    <div class="plan">
      <img src="../../assets/img/albergue4.JPG" alt="Plan de Donación">
      <h3>Plan de Donación</h3>
      <p>Realiza una donación mensual a la organización para ayudar a financiar el cuidado de las mascotas en el refugio de animales.</p>
      <p>Costo mensual a partir de: $30.000 COP</p>
      <button class="btn-donar">Donar ahora</button>
    </div>
  </section>
  