<h1>Quienes somos</h1>
<p>Somos una organización sin ánimo de lucro, legalmente constituida en Medellín (Colombia), que surgió por el amor hacia los animales en estado de vulnerabilidad, con más de 5 años de trayectoria ofreciéndoles una nueva oportunidad para ser felices. Siendo nuestros voluntarios un pilar fundamental para realizar nuestra labor.</p>
<img class="imagen-centrada" src="../../assets/img/banner2.JPG" alt="">

<h2>Misión</h2>
<p class="p2">Rescatar, rehabilitar y reubicar perros y gatos abandonados, en situación de calle, en peligro y maltratados, además de fomentar la tenencia responsable.</p>
  
<h2>Visión</h2>
<p class="p2">Nuestra Fundación será reconocida a nivel nacional por nuestro trabajo de ayudar a los animales en estado de vulnerabilidad, contaremos con la infraestructura necesaria para lograr impactar mayor número de animales.</p>
  
<h2>Objetivos</h2>
<ul>
      <li>Rescatar perros/gatos en estado de vulnerabilidad.</li>
      <li>Proporcionar un espacio digno durante su rehabilitación.</li>
      <li>Promover la adopción y esterilización.</li>
      <li>Fomentar el cuidado y respeto a los animales.</li>
      <li>Encontrarle hogar seguro.</li>
      <li>Darles afecto.</li>
</ul>




