<img class="imagen-centrada" src="../../assets/img/banner4.JPG" alt="">

<div class="row">
    <div class="col-sm-6">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title">Valentía</h5>
          <p class="card-text">Determinación para enfrentarnos a situaciones difíciles, dedicando esfuerzos, habilidades y conocimientos hacia las necesidades que enfrentan los demás animales a partir del reconocimiento de sus derechos.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title">Trabajo en equipo</h5>
          <p class="card-text">Implica acciones encaminadas hacia la consolidación de un equipo de trabajo solidario, comprometido para alcanzar metas comunes.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card custom-card">
          <div class="card-body">
            <h5 class="card-title">Respeto</h5>
            <p class="card-text">Este valor es fundamental, reconociendo a los animales como un ser sintiente, vulnerable o dependiente, sus intereses y necesidades, trabajamos constantemente en la protección de cualquier intención de daño.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card custom-card">
          <div class="card-body">
            <h5 class="card-title">Generosidad</h5>
            <p class="card-text">Ayuda honesta, desinteresada sin esperar nada a cambio.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card custom-card">
          <div class="card-body">
            <h5 class="card-title">Amor</h5>
            <p class="card-text">Afecto que le damos a nuestros animales y el sentimiento universal que todo lo cura.</p>
          </div>
        </div>
      </div>
      
  </div>

  

  
