<section id="contacto">
    <h2>Contactanos</h2>
    <div class="contacto-container">
      <div class="contacto-info">
        <h3>Información de contacto</h3>
        <p><i class="fas fa-map-marker-alt"></i> Dirección: Carrera 10 #45-37, Bogotá</p>
        <p><i class="fas fa-phone"></i> Teléfono: (1) 555-5555</p>
        <p><i class="fas fa-envelope"></i> Correo electrónico: info@fundacionmascotas.com</p>
        <div class="redes-sociales">
          <h3>Siguenos en nuestras redes sociales</h3>
            <a href="#"><img src="../../assets/img/social_facebook_fb_35.png" alt="facebook"></a>
            <a href="#"><img src="../../assets/img/social_youtube_23 (1).png" alt="youtube"></a>
            <a href="#"><img src="../../assets/img/linkedin_black_logo_icon_147114.png" alt="linkedin"></a>
            <a href="#"><img src="../../assets/img/instagram_black_logo_icon_147122.png" alt="instagram"></a>
        </div>
      </div>
      <div class="formulario">
        <h3>Envíanos un mensaje</h3>
        <form>
          <div class="form-group">
            <input type="text" name="nombre" placeholder="Nombre" required>
          </div>
          <div class="form-group">
            <input type="email" name="email" placeholder="Correo electrónico" required>
          </div>
          <div class="form-group">
            <input type="text" name="asunto" placeholder="Asunto" required>
          </div>
          <div class="form-group">
            <textarea name="mensaje" placeholder="Escribe aquí tu mensaje" required></textarea>
          </div>
          <button type="submit" class="btn-enviar">Enviar mensaje</button>
        </form>
      </div>
    </div>
  </section>
  
