<section id="eventos">
    <h2>Eventos</h2>
    
    <div class="evento">
      <img src="../../assets/img/adopcion1.JPG" alt="Evento de adopción">
      <div class="texto-evento">
        <h3>Evento de adopción</h3>
        <p>Únete a nosotros en nuestro próximo evento de adopción el 25 de Mayo en el Parque Principal. Ven a conocer a nuestras mascotas en adopción y encuentra a tu nuevo amigo peludo.</p>
        <p><strong>Fecha:</strong> 25 de Mayo, 2023</p>
        <p><strong>Lugar:</strong> Parque Principal</p>
        <a href="#" class="btn-evento">¡Asistiré!</a>
      </div>
    </div>
    
    <div class="evento">
      <img src="../../assets/img/adopta2.JPG" alt="Evento de apadrinamiento">
      <div class="texto-evento">
        <h3>Evento de apadrinamiento</h3>
        <p>Te invitamos a nuestro próximo evento de apadrinamiento el 8 de Junio en nuestra sede. Conoce a las mascotas que necesitan de tu ayuda y conviértete en su padrino o madrina.</p>
        <p><strong>Fecha:</strong> 8 de Junio, 2023</p>
        <p><strong>Lugar:</strong> Sede de la fundación</p>
        <a href="#" class="btn-evento">¡Asistiré!</a>
      </div>
    </div>
    
  </section>
  
